
@page  {
    size: A4;
    margin: 0px;
    box-sizing: border-box;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

* {
    box-sizing: border-box;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.header {
    background-color: #e97288;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    padding-left: 50px;
    padding-right: 50px;
}
body {
    /*padding top & bottom, same size as header and footer height*/
    padding-bottom: 150px;
    padding-top: 150px;
    page-break-after: always; /*aligns footer at bottom of a4 page*/
    margin: 0;
}
h1 {
    color: black;
    font-size: 40px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
    margin: 0;
}
h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
h3, p {
    padding: 0;
    margin: 0;
}
.text {
    font-weight: bold;
    font-size: larger;
}
.description-paragraph {
    padding-bottom: 80px;
}
.picture-alone {
    max-height: 400px;
    max-width: 1420px;
}
.content {
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    margin-left: 200px;
}
.picture {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-grow: 1;
    max-width: 1420px;
    max-height: 400px;
}
.full-description {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 50px;
}
.text-activity {
    display: flex;
    margin-right: 30px;
    font-weight: bold;
}
.full-logo {
    display: flex;
    flex-grow: 1;
    margin-left: 10px;
}
.logo {
    height: 100px;
}
.logo-footer {
    height: 140px;
}
.footer {
    background-color: #e97288;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
}
.logo-bottom {
    display: flex;
    margin-left: 10px;
}
.site-url {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
.url {
    font-weight: bold;
}
.qr-code {
    display: flex;
    margin-right: 30px;
}
.qr-image {
    width: 120px;
    height: 120px;
    align-items: start;
}
.share-me {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.scan-me {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.qr {
    display: flex;
    flex-grow: 1;
}
.big-table, .orga-table {
    width: 100%;
    text-align: left;
    padding-bottom: 80px;
}
td, th {
    height: 30px;
    vertical-align: top;
    min-width: available;
}
